:root {
    --primary-color: #212D40;  /* Floral White*/
    --secondary-color: #5E6778; /* Bone*/
    --accent-color: #252422; /*Eerie Black*/
    --text-color: #c5c6c8;     /*Dark Charcoal*/
    --triple-color: #7A5DB6; /*Princeton Orange*/
}
body {
    background: linear-gradient(72deg, #707378d1 -20%, var(--secondary-color) 60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
}

.boxconteiner {
    display: flex;          
    flex-direction: row;    
    gap: 20px;              
    justify-content: center;
    flex-wrap: wrap;        
}

.box {
    background: #2524223a;
    padding: 30px;  
    border-radius: 50px;
    height: 300px;
    width: 350px;         
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.box:hover {
    transform: translateY(-10px);
}

h1{
    color: var(--text-color);
    margin: 10px 0;
    font-size: 30px;
}
h2{
    color: var(--text-color);
    margin: 10px 0;
    font-size: 50px;
}
p{
    color: var(--text-color);
    font-size: 20px;
}

a {
    font-size: 50px;
    text-decoration: none;
}
.fruit-btn {
    display: inline-block;   
    text-decoration: none;    
    padding: 15px 40px;       
    font-size: 40px;          
    
    background: rgb(136, 3, 3);
    
    border-radius: 20px;      
    box-shadow: 0 4px 15px rgba(0,0,0,0.2); 
    transition: all 0.3s ease; 
}

.fruit-btn:hover {
    transform: scale(1.1);    
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    filter: brightness(1.1);  
}