{% load static %} <!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <h2>Salam</h2>
    <br><br><br><br>
    <div class="boxconteiner">
        <div class="box">
            <h1>Butun postlar</h1>
            <p>Postlari gor.</p>
            <a href="http://127.0.0.1:8000/posts/"class="fruit-btn">Postlar</a>
    </div>
        <div class="box">
            <h1>Salam</h1>
            <p>Banan da zordu.</p>
            <a href="https://az.wikipedia.org/wiki/Banan"class="fruit-btn">🍌</a>
    </div>

    </div>
</body>
</html>